@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');



* {margin: 0; padding: 0; box-sizing: border-box;}
body {
  font-family: 'Jua', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  background: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzAxMjFfMjMx%2FMDAxNDg0OTY0NTMwODIx.B-1cuZk5iWw3DD5WDSo-RaWbSl8uJUIGPi1FaXruehkg.kFX18r9NO2Q35tVfp2VyJIjc0NRfrG34G-F1kC-JF9Ig.JPEG.afour%2F%25C7%25FC%25C1%25A6%25BA%25C0_0111.JPG&type=a340") no-repeat center;
  background-size: cover;

}


body::before {
    content: "";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,.7);

}

.login_form{position: relative; z-index: 2;}
.login_form h1 {
    font-size: 32px; color: #ffffff;
    text-align: center;
}
.int-area {width: 400px; position: relative;}
.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 18px;
  color: #ffffff;
  outline: none;
}

  .int-area label {
  position: absolute; left: 10px; top: 0px;
  font-size: 18px; color: #999;
  transition: all .5s ease;
}
.int-area label.warning {
  color: red !important;
  animation: warning .3s ease;
  animation-iteration-count: 3;
}
@keyframes warning{
  0% {transform: translateX(-8px);}
  25% {transform: translateX(8px);}
  50% {transform: translateX(-8px);}
  75% {transform: translateX(8px);}

}
.int-area input:focus + label,
.int-area input:valid + label {
    top: -2px;
  font-size: 13px; color: #166cea;

}
.btn-area {margin-top: 30px;}
.btn-area button {
  width: 100%; height: 50px;
  background: #166cea;
  color: #ffffff;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.caption {
    margin-top: 20px;
    text-align: center;
}
.caption a {
  font-size: 15px; color: #999;
  text-decoration: none;
}


